.main-bg {
    /* background: darkslategray; */
    background-color: #0b1217 !important;
}

.content-bg {
    background-color: #142028 !important;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.items-center {
    align-items: center;
}

.w-full {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-80 {
    width: 80%;
}

.h-full {
    height: 100%;
}

.h-50vh {
    height: 50vh;
}

.h-70vh {
    height: 70vh;
}

.h-100vh {
    height: 100vh;
}

.br-10 {
    border-radius: 10px;
}

.text-white {
    color: white;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.fs-32 {
    font-size: 32px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.ml-20 {
    margin-left: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.mt-30 {
    margin-top: 30px;
}